## Hamoye Machine Learning: Regression Quiz submitted by Amit Purswani (amitrpurswani@gmail.com)

In [13]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [14]:
# Importing the data-set
df = pd.read_csv('D:\\People\\Amit\\Hamoye\\stageB\\energydata_complete.csv')

In [15]:
# setting to display all rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [16]:
# check the data-set
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

## Q12.From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [24]:
x = df.iloc[:, 5].values  
y = df.iloc[:, 13].values

In [33]:
x = x.reshape(-1,1)

In [34]:
x

array([[19.2       ],
       [19.2       ],
       [19.2       ],
       ...,
       [25.62857143],
       [25.414     ],
       [25.26428571]])

In [29]:
y

array([ 7.02666667,  6.83333333,  6.56      , ..., 23.62666667,
       22.43333333, 21.02666667])

In [35]:
# Using a 70-30 train-test set split with a random state of 42 (for reproducibility).
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [36]:
# Import Linear Regression Model
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
x_train = x_train.reshape(-1,1)
y_train = y_train.reshape(-1,1)
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [38]:
# Import Metrics for evaluation
from sklearn import metrics
print('R2 score', round(metrics.r2_score(y_test,predicted_values),2))

R2 score 0.64

## Q13. What is the Mean Absolute Error (in two decimal places)?

In [40]:
print('Mean Absolute Error (MAE)', round(metrics.mean_absolute_error(y_test,predicted_values),2))

Mean Absolute Error (MAE) 2.82

## Q14. What is the Residual Sum of Squares (in two decimal places)?

In [42]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

2125560497.02

## Q15. What is the Root Mean Squared Error (in three decimal places)?

In [44]:
print('Root Mean Square Error (RMSE)', round(np.sqrt(metrics.mean_squared_error(y_test,predicted_values)),4))

Root Mean Square Error (RMSE) 3.6303

## End of Notebook